@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="divBlueBox"></div>
<script type="text/javascript">
        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Components/BlueBox")',
            success: function (data) {
                $('#divBlueBox').html(data);
            }
        });
</script>




<style type="text/css">
    .redBox {
        width: 300px;
        height: 300px;
    }
</style>

<div id="divRedBox"></div>

<script type="text/javascript">
        $.ajax({
            type: 'GET',
            url: 'https://bradhuggins.azurewebsites.net/Content/RedBox.html',
            success: function (data) {
                $('#divRedBox').html(data);
            }
        });
</script>